.hslider{
	position: relative;
	font-size: 11px;
}
.hslider p{
	margin-bottom: 10px;
}
.hslider a{
    cursor: hand;
    cursor: pointer;
}

.hslider span{display: block;}
.hslider .content_wrapper{
    clear: both;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    z-index: 3;
    position: relative;
    left: 0;
	top: 0;
}
#popularGroupRecipes .content_wrapper{
    height:390px;
}
.hslider .video_content_wrapper { left: 5px; top: 7px; }
.hslider a.slide_control_previous, .hslider a.slide_control_next, .hslider a.previous_disabled, .hslider a.next_disabled, .hslider .group_nav a, .hslider .group_nav a.active:hover{
	background-image: url(/rd_images/modules/controls_sprite.gif);
    background-repeat: no-repeat;
}
.hslider a.slide_control_previous, .hslider a.slide_control_next {
    display: block;
    width:5px;
    height:10px;
    position: absolute;
    top: 28px;
    z-index: 10;
}
.hslider a.slide_control_previous {
    left: 565px;
	background-position: -5px 0;
}
#friends a.slide_control_previous {
	left:416px;
}
.hslider a.slide_control_next{
    right: 18px;
	background-position: -15px 0;
}
#friends a.slide_control_next{
	right: 11px;
}
#friends a.slide_control_previous, #friends a.slide_control_next {
	top:24px;
}
.hslider a.previous_disabled, .hslider a.next_disabled{cursor:default;}
.hslider a.previous_disabled{background-position: 0 0;}
.hslider a.next_disabled{background-position: -10px 0;}
.hslider .group_nav{
    position: absolute;
    top: 28px;
    left: 581px;
    height: 10px;
}
.hslider .group_nav a{
    display: block;
    float: left;
    height: 10px;
    width: 6px;
    margin-right: 9px
}
.hslider .group_nav a{background-position: -26px -0;}
.hslider .group_nav a.active, .hslider .group_nav a.active:hover{background-position: -20px 0;}
.hslider .group_nav a:hover{background-position: -26px 0;}
.hslider ul {position: absolute;}
.hslider li {
    position: relative;
    display: block;
    float: left;    
    /* padding: 0 12px;
    width: 95px; 
	text-align: center; */
}
.hslider span.image_data a{display: block; /* height: 75px; width: 95px; */}
.hslider .video_content_wrapper span.image_data a{display: block; height: 60px; width: 80px;}
.hslider span.moreLink{ 
    position: absolute;
    top: 5px;;
    right: 8px;
}