/*print styles*/

.sponsorAd{
    display: none;
}

/*Template A*/
#breadcrumb_session, #headerContainer, #common_tools, #secondary, #section_search, #highlight_nav, #footerContainer, #adList {
    display: none;
}
img#printer_friendly_global{
    display: block !important;
    width: 195px;
    margin: 0 auto;
}
#headline{
    padding-top: 0 !important;
}
ul{
    list-style-type: none;
}
.scrolled button{
    display: none;
}
button{
    display: none;
}


/*Homepage*/
#pcontent_col1{
    display: none;
}
#pcontent_col2{
   width: 100%;
}
#flashunit_hp{
    display: none;
}
ul.heading_anchors{
    display: none;
}
#promo_epivideo{
    page-break-before: always;
}
p#blog_title{
    padding-top: 0 !important;
}
/*recipe central*/
.viewpane_content{
    display:none;
}
#rc_recipefinder{
    display: none;
}
ul#quick_links_list li{
    display: block !important;
}


/*Landing Pages*/
/*recipesmenus*/
#quick_links_box{
    page-break-before: always;
    page-break-after: always;
}

/*articlesguides*/
.left_rail_container{
    display: none;
}
.see_latest_dropdiv{
    padding: .25in;
}


/*community*/
#col1, .separatorB, .separator{
    display: none;
}
#registerBoxLanding, #membersrecipemodule{
    page-break-after: always;
}
.membar{
    margin-bottom: 1in;
}


/*Articles Pages*/
.sidebar{
    page-break-before: always;
    border: 1px solid #CFCFCF;
    padding: .5in;
}

/* Slideshows */
 #rightCol {
     display:none;
 }

