/****************************************
 * Epicurious Redesign
 * Footer CSS Rules
 ****************************************/

/*********
 * Footer
 *********/
#footerContainer{
    padding-top: 1px;
    border-top: 1px solid;
	clear: both;
}
#footerContainer, #footerContainer a{
    color: white;
}
#footerContainer div {
	padding-left: 10px; 
	padding-right:0px;
}
#footerContainer_forums {
    padding-top: 1px;
	border-top: 1px solid #90AFD6;
	clear: both;
}
#footerContainer_forums div {
	padding-left: 10px; 
	padding-right:0px;
}

#utilities{
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid;
}
#utilities li{
    display: inline;
	color: white;
}
#utilities li#utilities_first a{
    background-image: none;
	color: white;
}
#utilities a{
    margin-right: 5px;
    padding-left: 17px;
    text-transform: lowercase; 
    background-repeat: no-repeat;
    background-position: left center;
	font-family: "Lucida Grande",Arial,Verdana,sans-serif;
	color: white;
}
#related_sites{
    padding-top: 36px;
    padding-bottom: 27px;
}
#related_sites h5{
    color: #333333;
    text-transform: lowercase;
    text-align: right;
    width: 110px;
    margin-right: 10px;
	font-size: 10px;
    float: left;
    clear: left;
}
#related_sites #on_epi{
    width: 775px;
    margin-bottom: 5px;
    float: left;
}
#related_sites #on_epi ul{
    border-right: 1px solid;
    padding-right: 26px;
    margin-right: 26px;
    position: relative;
    top: -4px;
	float: left;
}
/*all links, specifically top level links*/
#related_sites #on_epi li a{
    display: block;
    float: left;
    margin-right: 5px;
}
/*nested list links*/
#related_sites #on_epi ul li a{
    width: 105px;
    height: 13px;
    float: none;
    margin-right: 0;
}
#related_sites #condenet_sites{
    width: 960px;
    float: left;
    margin-bottom: 5px;
	margin-top: -8px;
	font-size: 11px;
}
#related_sites #condenet_sites a{
    font-weight: bold;
	color: white;
}
#related_sites #condenet_sites li{
    display: inline;
	font-size: 11px;
}
span.current_site{
    color: #333333;
}
#legal_information{
    padding-bottom: 70px; 
}
#legal_information, #legal_information a{
    color: #333333;
}
#legal_information p#disclaimer{
    margin-bottom:25px;
}
#legal_information p#disclaimer a{
    text-decoration: underline;
}
/*common anchor backgrounds*/
#related_sites a{
    background-repeat: no-repeat;
}
#related_sites a#btn_bonappetit{
    background-image: url(/rd_images/footer/btn_bonappetit.png);
    width: 148px;
    height: 34px;
	cursor:pointer;
}
#related_sites a#btn_bonappetitonepi{
    background-image: url(/rd_images/footer/btn_bonappetitonepi.png);
	cursor:pointer;
}
#related_sites a#btn_bonappetitdotcom{
    background-image: url(/rd_images/footer/btn_bonappetitdotcom.png);
	cursor:pointer;
}
#related_sites a.btn_subscribe{
    background-image: url(/rd_images/footer/btn_subscribe.png);
	cursor:pointer;
}
#related_sites a#btn_gourmet{
    background-image: url(/rd_images/footer/btn_gourmet.png);
    width: 131px;
    height: 57px;
    position: relative;
    top: -5px;
	cursor:pointer;
}
#related_sites a#btn_gourmetonepi{
    background-image: url(/rd_images/footer/btn_gourmetonepi.png);
	cursor:pointer;
}
#related_sites a#btn_gourmetdotcom{
    background-image: url(/rd_images/footer/btn_gourmetdotcom.png);
	cursor:pointer;
}
#related_sites a.btn_subscribe{
    background-image: url(/rd_images/footer/btn_subscribe.png);
	cursor:pointer;
}
#related_sites a#btn_managemysubscriptions{
    background-image: url(/rd_images/footer/btn_managemysubscriptions.png);
	cursor:pointer;
    width: 147px; height: 14px;
    position: relative;
    top: 24px;
}
#footer_sub_links{
    margin-top: 20px;
	float: left;
}
#footer_sub_links select{
    width: 190px;
    font-size: 10px;
}
#condenet_sites_dropdown select{
    width: 210px;
    font-size: 10px;
}
#related_sites a#conde_logo{
    background-image: url(/rd_images/footer/CondeNet_logo.png);
	width: 83px;
    height: 22px;
    position: relative;
}
* html #related_sites a#conde_logo{
	background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/rd_images/footer/CondeNet_logo.png',sizingMethod='image'); 
}
/*li#related_sites */a#rss_img{
/*    background-image: url(/images/global/rssFooterIcon.gif);
	background-repeat:no-repeat;
	display:block;
	padding-left:12px;
	width: 14px;
    height: 14px;
	vertical-align: middle;
	
	margin: 0 3px 0px 0pt; 
	*/
}
a#rss_lnk{background:none !important;padding-left:0px !important;}

* html li#related_sites a#rss_img{
	background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/global/rssFooterIcon.gif',sizingMethod='image'); 
}
/* Section Specific Footer Overrides
   --------------------------------- */  
#footerContainer{
    border-color: #5FB829;
}
#utilities, #related_sites, #legal_information{
    background-color: #5FB829;
}
#related_sites #on_epi ul, #utilities{
    border-color: #9FD47F;
}
#related_sites #on_epi ul, #utilities a{
    font-size: 11px;
}
.articlesguides #footerContainer{
    border-color: #D23823;
}
.articlesguides #utilities, .articlesguides #related_sites, .articlesguides #legal_information{
    background-color: #D23823;
}
.articlesguides #related_sites #on_epi ul, .articlesguides #utilities{
    border-color: #E4887B;
}
.community #footerContainer{
    border-color: #4679BA;
}
.community #utilities, .community #related_sites, .community #legal_information{
    background-color: #4679BA;
}
.community #related_sites #on_epi ul, .community #utilities{
    border-color: #90AFD6;
}
.video #footerContainer{
    border-color: #6C4F49;
}
.video #utilities, 
.video #related_sites, 
.video #legal_information{
    background-color: #6C4F49;
}
.video #related_sites #on_epi ul, 
.video #utilities{
    border-color: #8b695f;
}
.tools #footerContainer, .services #footerContainer {
    border-color: #FD9104;
}
.tools #utilities, .tools #related_sites, .tools #legal_information, .services #utilities, .services #related_sites, .services #legal_information{
    background-color: #FD9104;
}
.tools #related_sites #on_epi ul, .tools #utilities, .services #related_sites #on_epi ul, .services #utilities {
    border-color: #FEBD68;
}
.wine #footerContainer{
    border-color: #982748;
}
.wine #utilities, 
.wine #related_sites, 
.wine #legal_information{
    background-color: #982748;
}
.wine #related_sites #on_epi ul, 
.wine #utilities{
    border-color: #db819f;
}
/*bullets*/
#utilities a{
   background-image: url(/rd_images/footer/default/bullet.png);
}
.recipesmenus #utilities a{
   background-image: url(/rd_images/footer/recipesmenus/bullet.png);
}
.articlesguides #utilities a{
   background-image: url(/rd_images/footer/articlesguides/bullet.png);
}
.community #utilities a{
   background-image: url(/rd_images/footer/community/bullet.png);
}
.video #utilities a{
   background-image: url(/rd_images/footer/video/bullet.png);
}
.tools #utilities a, .services #utilities a {
   background-image: url(/rd_images/footer/tools/bullet.png);
}
.wine #utilities a{
   background-image: url(/rd_images/footer/wine/bullet.png);
}
/*legacy*/
#related_sites{ /*ie needs this*/
	width: 960px;
}
#related_sites2{ /*ie needs this*/
	width: 990px;
}
#related_sites2{
    padding-top: 36px;
    padding-bottom: 27px;
	background:#FD9104;
}
#related_sites2 #on_epi{
    width: 775px;
    margin-bottom: 5px;
    float: left;
}
#related_sites2 #on_epi ul{
    border-right: 1px solid;
    padding-right: 26px;
    margin-right: 26px;
    position: relative;
    top: -4px;
	float: left;
}
/*all links, specifically top level links*/
#related_sites2 #on_epi li a{
    display: block;
    float: left;
    margin-right: 5px;
}
/*nested list links*/
#related_sites2 #on_epi ul li a{
    width: 105px;
    height: 13px;
    float: none;
    margin-right: 0;
}
#related_sites2 #condenet_sites{
    width: 900px;
    float: left;
    margin-bottom: 5px;
	margin-top: -8px;
	font-size: 11px;
}
#related_sites2 #condenet_sites a{
    font-weight: bold;
	color: white;
}
#related_sites2 #condenet_sites li{
    display: inline;
	font-size: 11px;
}
#related_sites2 a#conde_logo{
    background-image: url(/rd_images/footer/CondeNet_logo.png);
	width: 83px;
    height: 22px;
    position: relative;
}
* html #related_sites2 a#conde_logo{
	background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/rd_images/footer/CondeNet_logo.png',sizingMethod='image'); 
}

/* 2010 new nav */
#footerContainer_forums .condenastLinks a {color: #999999;}
#footerContent {background-color: #fff; padding-bottom: 15px;}
#footerContainer .condenastLinks a {color: #999999;}
.condenastLinks {font-family: "Lucida Grande",Arial,Verdana,sans-serif; font-size: 10px; text-transform: uppercase; font-weight: normal; color: #999999; width: 958px; padding: 17px 0 10px 5px; height: 20px;}
.condenastLinks li {float:left; padding: 0 18px 15px 0; display: inline;}
.condenastLinks a {font-weight: normal; color: #999999; text-decoration: none;}
.condenastLinks a:hover {font-weight: normal; color: #999999; text-decoration: underline;}
#topquad {width:958px; height: 153px; border: 1px solid #ddd; padding: 0;}
.footerLogo {float:left; width:198px; height: 153px;}
.footerLogo h3 {display: none;}
.footerLogo img {margin: 18px 0 0 0px;}
.recipesNews {float:left; width:237px; height: 153px; font-family: verdana; font-weight: bold; font-size: 10px; color: #666; padding-top: 20px;}
.food_news {float:left; width:110px; padding: 10px 0 0 0;}
.food_news a {font-family: verdana; font-weight: normal; font-size: 10px; color: #999 !important; text-decoration: none; height: 28px; line-height: 12px; display: block;}
.food_news a:hover {font-family: verdana; font-weight: normal; font-size: 10px; color: #999 !important; line-height: 12px; text-decoration: underline;}
.great_recipes {float:left; width:90px; padding: 10px 0 0 0;}
.great_recipes a {font-family: verdana; font-weight: normal; font-size: 10px; color: #999 !important; text-decoration: none; height: 18px; line-height: 12px; display: block;}
.great_recipes a:hover {font-family: verdana; font-weight: normal; font-size: 10px; color: #999 !important; line-height: 12px; text-decoration: underline;}
#subscribe {float:left; width: 216px; margin-top: 20px; font-family: verdana; font-weight: bold; font-size: 10px; color: #666;}
#sister {float:left; width: 195px; height: 132px; margin-top: 20px; font-family: verdana; font-weight: bold; font-size: 10px; color: #666;}
#legalquad {margin-top: 14px; width:958px; height:75px; text-align:center; border: 1px solid #ddd; font-family: verdana; font-weight: normal; font-size: 10px; color: #999; padding: 15px 30px 8px 18px;}
#legalquad p {padding: 0 10px 0 4px;}
#legalquad a {text-decoration:underline; font-weight: normal; color: #666666;}
#legalquad .add-choice-text {
    float: left;
    padding-right: 0px;
}
#legalquad .add-choice-img {
    float: left;
    padding: 4px !important;
}
#legalquad .add-choice {
    margin-left: 450px;
    padding: 0;
}
#legalquad .add-choice img {
    border: 0;
    margin-left: 0px;
    position: relative;
    top: -3px;
}
#legalquad .add-choice a {
    width: auto;
    text-align: center;
    margin: 0 auto 0 auto;
}
.vertRule {float: left; width: 1px; height: 144px; background-color: #ddd; margin: 4px 10px 4px 0; padding: 0px;}
.clear {clear: both;}
#condenet_sites_dropdown {margin-left: 1px; margin-top: 15px;}
#footer_sub_links {margin-top:15px;}