	.newsletter_top, .mobile_top, .rss_top, .podcast_top { width: 290px; height: 28px; background-repeat: no-repeat; }
	.newsletter_bottom, .mobile_bottom, .rss_bottom, .podcast_bottom { width: 290px; background-repeat: no-repeat; }
	.newsletter_top { background-image: url(/images/newsletter_widget/top_nav_newsletter.gif); }

	.mobile_top { background-image: url(/images/newsletter_widget/top_nav_mobile.gif); }

	.rss_top { background-image: url(/images/newsletter_widget/top_nav_rss.gif); }

	.podcast_top { background-image: url(/images/newsletter_widget/top_nav_podcasts.gif); }
	.podcast_bottom { background-image: url(/images/newsletter_widget/bottom_podcast_bkgrd.jpg); }

	#letter_message1 .thanksHead, #letter_message5 .thanksHead { font: bold 16px Georgia; }
	#letter_message1 .thanksCont, #letter_message5 .thanksCont { font: italic 11px Georgia; }
	.errorNL { font: bold 11px arial; color: #FF6600; }
	#error_area, #error_area2 { width: 290px; margin: 0; }
	#letter_message1, #letter_message2, #letter_message3, #letter_message4, #letter_message5 { display:none; width: 290px; }
	.error_icon { list-style: none; background:url(/images/newsletter_widget/error_icon.gif) no-repeat; padding: 0 0 4px 20px; font: bold 11px/130% arial; color: #FF6600; }
	


    
    input.submitButton {vertical-align: bottom; padding: 0 0 1px 2px; width:54px; height:19px; outline: none; border:0; background-image:url(/images/newsletter_widget/button_submit_newsWidget.gif); cursor:pointer; cursor: hand; }
	.infoText { font: normal 10px "Lucida Grande", Arial, Verdana, sans-serif; color: #333333; }
	.learnMore { font: normal 10px "Lucida Grande", Arial, Verdana, sans-serif; text-decoration: underline; color: #807d6c; }
	
	#header { position: relative; }
	#newsletter_Nav, #mobile_Nav, #rss_Nav, #podcast_Nav { display:block; position:absolute; top:0px; height:28px; }
	#newsletter_Nav { width:91px; left:5px; }
	#mobile_Nav { width:70px; left:96px; }
	#rss_Nav { width:57px; left:166px; }
	#podcast_Nav { width:82px; left:223px; }
    
    
    /** defect 48630 ***/
    
    span#learnMore, span#learnMore2 {
        padding-left:6px;
    }
    
    * html .newsletter_bottom, .mobile_bottom, .rss_bottom { 
        width:290px;
    }
    * html #newsletter_content {
        padding-bottom:2px;
    }

    
    /***** tastebook defect ******/
    
    #tastebook_section {
       position:relative;
    }
    
   .tastebook_top {
        background-image:url(/images/newsletter_widget/top_nav_tastebook.gif);
        background-repeat:no-repeat;
        /*width: 310px;*/
        height: 28px;
    }
    
    * html .tastebook_top {
        height: 30px;
    }
    
    
    #tastebook_bottom {
        background-image:url(/images/newsletter_widget/tastebook_bottom.jpg);
        background-repeat:no-repeat;
        height:16px;
        margin-bottom:1px;
    }
    
    #tastebook_content { 
        height: 112px !important; 
        background-repeat: repeat-y; 
        line-height: 16px; background-image: url(/images/newsletter_widget/newsletter_bkgrd.gif); 
        font-family:"Lucida Grande", Arial, Verdana, sans-serif;
        font-size:10px;
        color:#333;
        font-weight:normal;
        padding-left:6px;
        padding-top:6px;
        padding-right:10px;
     }
     * html #tastebook_content { 
        margin-top:-2px;
     }
     
     #tastebook_content p {
        padding:6px;
      /*  width:280px;  */
     } 
     
     #tastebook_content a {
        text-decoration:underline;
        font-family:Georgia,"Times New Roman",Times,serif;
        font-size:12px;
        font-weight:normal;
     }
     .learnMore {
        color:#807d6c;
        font-family:"Lucida Grande", Arial, Verdana, sans-serif !important;
        font-size:10px !important;   
     }
	 .learnMoreNew {
		font-family:"Lucida Grande", Arial, Verdana, sans-serif !important; 
		font-size:11px !important; 
		text-decoration:none !important;
		line-height: 16px; 
     }
	
	.learnMoreNew:hover {
		text-decoration:underline !important;}
     
     #tastebook_content img { 
        margin-right:6px;
     }
     
     .mkt_widget_content { 
        height: 118px !important; 
        background-repeat: repeat-y; 
        line-height: 16px; background-image: url(/images/newsletter_widget/newsletter_bkgrd.gif); 
        font-family:"Lucida Grande", Arial, Verdana, sans-serif;
        font-size:10px;
        color:#333;
        font-weight:normal;
        padding-left:20px;
        padding-top:6px;
        padding-right:10px;
     }
     * html .mkt_widget_content { 
        margin-top:-2px;
     }
     
     .mkt_widget_content p {
        padding:6px;
      /*  width:280px;  */
     } 
     
     .mkt_widget_content a {
        text-decoration:underline;
        font-family:Georgia,"Times New Roman",Times,serif;
        font-size:12px;
        font-weight:normal;
     }
    
     .mkt_widget_content img { 
        margin-right:5px;
     }
     
     .mkt_widget_bottom {
        background-image:url(/images/newsletter_widget/mkt_widget_bottom.jpg);
        background-repeat:no-repeat;
        height:10px;
        margin-bottom:1px;
    }
    
    #mobile_content.mkt_widget_content img {
    	margin-left: 0px;
    } 
  
    .rightNew img { 
        float: right;
     }
	 
    * html .mobile_top {
        height: 30px;
    }

/*****************CookBook Enhancement Style********************/
#marketingWidgetModule {
                color: #787878;
                width: 308px;
                background-color: #f7f7f7;
                border: 1px solid #cccccc;
                position: relative;
                font-family: Helvetica,Arial;
                font-size: 11px;
            }
	    #marketingWidgetModule #marketingWidgetModule_content {
		background-color: #F6F6F6;
		margin: 8px 10px;
	    }
            #marketingWidgetModule #social_links {
                padding: 10px 8px;
                border-bottom: 1px solid #CCCCCC;
            }
            #marketingWidgetModule #newsletter_box {
                padding: 0 10px;
                background-color: #F9F9F9;
            }
            #marketingWidgetModule ul li {
                 list-style: none;
            }
            #marketingWidgetModule #connect_links li {
                display: inline;
            }
            #marketingWidgetModule #connect_links {
		margin: 15px 10px 10px 0;
		padding: 0;
		width: 290px;
            }
            #marketingWidgetModule a {
                text-decoration: none;
                color: inherit;
		font-weight: normal;
            }
	    #marketingWidgetModule a.orlinkgen {
		text-decoration: underline;
	    }
            #marketingWidgetModule #connect_links a {
                display: block;
                text-indent: -9999px;
                height: 40px;
                width: 40px;
                float: left;
                margin-right: 1px;
            }
            #marketingWidgetModule a#the_shop_mw {
                margin: 0;
            }
            #marketingWidgetModule #connect_header {
                background: url("/images/cookbook_widget/market_widget_header.gif") no-repeat;
            }
            #marketingWidgetModule h2 {
                text-indent: -9999px;
                margin: 0;
            }
            #marketingWidgetModule #signup_header {
                background: url("/images/cookbook_widget/signup_header.gif") no-repeat;
                margin-top: 15px !important;
                margin-bottom: 5px !important;
		height: 20px;
            }
            #marketingWidgetModule #recipe_box_mw {
                background: url("/images/cookbook_widget/recipe_box_icon.gif") no-repeat;
            }
            #marketingWidgetModule #connect_epi_mw {
                background: url("/images/cookbook_widget/connect_epi_icon.gif") no-repeat;
            }
            #marketingWidgetModule #twitter_mw {
                background: url("/images/cookbook_widget/twitter_icon.gif") no-repeat;
            }
            #marketingWidgetModule #facebook_mw {
                background: url("/images/cookbook_widget/facebook_icon.gif") no-repeat;
            }
            #marketingWidgetModule #gplus_mw {
                background: url("/images/cookbook_widget/gplus_icon.gif") no-repeat;
            }
            #marketingWidgetModule #pinterest_mw {
                background: url("/images/cookbook_widget/pinterest_icon.gif") no-repeat;
            }
            #marketingWidgetModule #the_shop_mw {
                background: url("/images/cookbook_widget/shopping_icon.gif") no-repeat;
            }
            #marketingWidgetModule #newsletter_email {
                width: 215px;
                height: 30px;
                color: #FF4E11;
                font-size: 13px;
                border: 1px solid #cecdcd;
		padding-left: 10px;
		margin-bottom: 10px;
		line-height: 30px;
            }
            #marketingWidgetModule #btnSubmit {
                background: #FF1800 url("/images/cookbook_widget/submit.gif") no-repeat 1px 2px;
                height: 34px;
                text-indent: -9999px;
                width: 62px;
                position: absolute;
                right: 10px;
                cursor: pointer;
                border: none;
            }
	    #marketingWidgetModule #newsletter_container {
		display: none;
		width: 290px;
		background-color: #FAFAFA;
	    }
            .clearfix {
                clear:both;
            }
            #marketingWidgetModule #newsletter_content {
                margin: 0;
                padding: 0;
            }
            #marketingWidgetModule #news_letter_header {
                font-size: 11px;
                margin: 0 0 10px;
            }
            #marketingWidgetModule .section {
                color:#fe5a21;
                font-weight: bold;
            }
            #marketingWidgetModule #newsletter_content li {
                padding-left: 20px; 
            }
            #marketingWidgetModule #newsletter_content input[type="checkbox"] {
                margin-left: -20px;
                margin-right: 5px;
            }
            #marketingWidgetModule #see_all {
                display: block;
                padding: 5px 0;
                text-align: center;
                text-decoration: none;
                background-color: #fdfdfd;
                border: 1px solid #D1D1D1;
                margin: 10px 0 20px;
		height: 25px;
		line-height: 25px;
		font-size: 11px;
            }
            #marketingWidgetModule .arrow_right {
                background: url("/images/cookbook_widget/right_arrow.gif") no-repeat;
                display: inline-block;
                height: 8px;
                margin-left: 5px;
                width: 5px;
            }
            #marketingWidgetModule #widgetLegalNote {
                font-size: 9px;
            }
	    #newslettersForm .newsletterContainerPos {
		margin-top:10px;
	    }
	    #newslettersForm {
		position:relative;
	    }